body{
    display:flex;
    flex-direction:column;
    flex:0;
    
}

.header {
    background: #1F2937;
    display: flex;
    flex-direction: column;
    height: 25em
    
}

.header-top,
.header-bottom {
    color: white;
    display:flex;
    margin: 1rem;
    justify-content:space-between;
}


.text {
    display:flex;
    flex-direction:column;
    
}


.title{
    font-size: 3rem;
}


.header-top {
    display: flex;  
}


.logo,
.links {
    margin-top: .5rem;
}


.links {
    dispaly:flex;
    justify-content: flex-end;
    align-self: flex-end;
}



.button {
    background-color: #3882f6;
    width: 100px;
    align-self: flex-start;
    border-radius: 10px;
    border: none;
    color: white;
    
}

.img0 {
    margin-bottom: 1rem;    
}

img {
    border: 5px solid #3882f6;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.body {
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 1rem;
    height: 20em;
}

.tag {
    color: #1F2937;
    display: flex;
    font-size: 24px;
    justify-content:center;
    padding: 1rem;
}

.img1 {
    display: flex;
    flex-direction:column;
    margin: 1rem;
}
    

.img2 {
    display: flex;
    flex-direction:column;
    margin: 1rem;
}
.img3 {
    display: flex;
    flex-direction:column;
    margin: 1rem;
}
.img4 {
    display: flex;
    flex-direction:column;
    margin: 1rem;
}


.p {
    background-color: #e5e7eb;
    color: #1f2937;
    height: 20em;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    
}

.quote {
    font-weight: 100;
    font-style:italic;
    font-size: 1.25rem
    
}

.author {
    font-weight: bold;
    font-size: 2.25rem;
}

.footer {
    height:3em;
    background-color: #1f2937
}